#wrapper {
    width: 900px;
    /*    outline: 1px solid red;*/
}

#gen_nav {
    margin-bottom: 50px;
}

#templ_nav {
    float: left;
    border: 1px solid black;
    padding: 20px;
}

#templ_nav a {
    float: left;
    margin-right: 20px;
    display: block;
    padding: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 2px 1px;
}

#nav {
    float: right;
}

#nav li {
    float: left;
    margin-left: 10px;
    list-style:  none;
}

#myBtn {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

#content {
    margin-bottom: 10px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    /*  display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent table {
    width: 100%;
}

.tabcontent table tr, td, th {
    border: 1px solid #ccc;
}

#paginator {
    text-align: center;
}

.clear {
    clear: both;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}