<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main screen</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>

<div id="wrapper">
    <div id="gen_nav">
        <div id="templ_nav">
            <a th:href="@{/main/letter/create}">New Letter</a>
            <a th:href="@{/main/reminder}">New Reminder</a>
            <a th:href="@{/main/templates}">Templates</a>
        </div>
        <div id="nav">
            <ul>
                <li><span sec:authentication="principal.firstName">not found</span>
                    <span sec:authentication="principal.lastName">not found</span> &nbsp;&nbsp;|
                </li>
                <li><a th:href="@{/logout}">Log Out</a> &nbsp;&nbsp;|</li>
                <li><a id="myBtn">Location</a> &nbsp;&nbsp;|</li>
                <li><a th:href="@{/admin}">admin</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <div id="content">
        <!-- Tab links -->
        <div class="tab">
            <button th:each="letterType, iterStat: ${letterTypes}"
                    class="tablinks"
                    th:attrappend="id=${iterStat.index == 0} ? 'defaultOpen'"
                    th:onclick="'showLetters(event,' + ${letterType.getId()} + ');'"
                    th:text="${letterType.getType()}"></button>
        </div>

        <!-- Tab content -->
        <div th:each="letterType: ${letterTypes}"
             th:attrappend="id=${letterType.getId()}"
             class="tabcontent">
            <table></table>
        </div>
    </div>

    <!-- Paginator-->
    <div id="paginator"></div>
</div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Select location(s)</p>
        <form id="locationForm" method="post" action="/main/lettersByCities">
            <fieldset>
                <input type="checkbox"
                       id="checkedAll"
                       name="places"
                       value="All"
                       th:text="'All'"><br>
                <th:block th:each="location: ${locations}">
                    <input
                            type="checkbox"
                            name="places"
                            th:attrappend="checked=${locationsDefault.contains(location)} ? 'checked'"
                            th:value="${location.getCity()}"
                            th:text="${location.getCity()}">
                    <br>
                </th:block>
            </fieldset>
            <input type="submit" value="Confirm"/>
            <input type="reset" value="Cancel"/>
        </form>
    </div>
</div>
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>