<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<h1>Registration</h1>

<form
        th:action="@{/register/save}"
        th:object="${user}"
        method="post"
        role="form"
>
  <label for="username">Username: </label>
  <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter username"
          th:field="*{username}"
  />
  <p th:errors = "*{username}" class="text-danger"
     th:if="${#fields.hasErrors('username')}"></p>
  <br />

  <label for="password">Password: </label>
  <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter password"
          th:field="*{password}"
  >
  <p th:errors = "*{password}" class="text-danger"
     th:if="${#fields.hasErrors('password')}"></p>
  <br />

  <label for="firstName">First name: </label>
  <input
          type="text"
          id="firstName"
          name="firstName"
          placeholder="Enter first name"
          th:field="*{firstName}"
  />
  <p th:errors = "*{firstName}" class="text-danger"
     th:if="${#fields.hasErrors('firstName')}"></p>
  <br />

  <label for="lastName">Last name: </label>
  <input
          type="text"
          id="lastName"
          name="lastName"
          placeholder="Enter last name"
          th:field="*{lastName}"
  />
  <p th:errors = "*{lastName}" class="text-danger"
     th:if="${#fields.hasErrors('lastName')}"></p>
  <br />

  <label for="birthDate">Birthday: </label>
  <input
          type="date"
          id="birthDate"
          name="birthDate"
          th:field="*{birthDate}"
  />
  <p th:errors = "*{birthDate}" class="text-danger"
     th:if="${#fields.hasErrors('birthDate')}"></p>
  <br />

  <label for="email">Email: </label>
  <input
          type="text"
          id="email"
          name="email"
          th:field="*{email}"
  />
  <p th:errors = "*{email}" class="text-danger"
     th:if="${#fields.hasErrors('email')}"></p>
  <br />

  <label for="location">Location: </label>
  <select name="location" id="location" th:each="location: ${locations}">
    <option th:text="${location.getCity()}"></option>
  </select>
  <br />

<!--  <label for="location">Location: </label>-->
<!--  <input-->
<!--          type="text"-->
<!--          id="location"-->
<!--          name="location"-->
<!--          th:field="*{location}"-->
<!--  />-->
<!--  <p th:errors = "*{location}" class="text-danger"-->
<!--     th:if="${#fields.hasErrors('location')}"></p>-->
<!--  <br />-->

  <input
          type="submit"
          value="Register"
  >

</form>

<br />

<a th:href="@{/login}">Sign in</a>
</body>
</html>